body {
  font-family: var(--text);
  color: var(--neutral-900);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-7);
}

main {
  padding: var(--spacing-12) 0;
  gap: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

code {
  font-family: var(--monospace);
}

hr {
  margin-block: 48px;
  border: none;
  border-top: 1px solid var(--border);
}

/* Form Elements */

label {
  color: var(--neutral-900);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-none);
}

span {
  font-family: var(--monospace);
  font-weight: 600;
}

input[type="radio"],
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: var(--violet-700);
  border: 1px solid;
}

input:not([type="radio"], [type="checkbox"]),
select,
textarea {
  width: 100%;
  height: var(--spacing-10);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--rounded-md);
  border: 1px solid var(--border);
  background: var(--background);

  color: var(--foreground);
  font-size: var(--font-sm);
  line-height: var(--leading-6);
}

textarea {
  height: unset;
}

input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--muted-foreground);
}

:focus {
  outline-offset: 3px;
  outline-color: var(--ring);
  outline-width: 2px;
}
